<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.mybatisentity.entity.User" alias="User" />
    </typeAliases>
    <mappers>
        <mapper resource="mapper/UserMapper.xml" />
    </mappers>
    <!--
    <plugins>
       <plugin interceptor="com.zzy.intercept.SQLStatsInterceptor"></plugin>
    </plugins>
    <databaseIdProvider type="org.apache.ibatis.mapping.VendorDatabaseIdProvider"></databaseIdProvider>
    -->
</configuration>